@font-face {
	font-family: Num1;
	src: url(./Fonts/Num1.otf);
}
@font-face {
	font-family: Ohy;
	src: url(./Fonts/OhY.ttf);
}
@font-face {
	font-family: Leeds;
	src: url(./Fonts/leeds.ttf);
}
html, body {margin: 0;background:rgb(227,227,227);}
body header {
	border-left: 3px solid red;
	padding: 5px 0 0 0;
	background-color:#fc9;
}
body header div a {color: black;text-decoration: none; text-shadow: 1px 1px 3px black; padding: 5px 10px;}
body header:hover {
	background-color: #fc5;
}
.logo {
	border-radius: 37%;
	height: 150px; padding: 0;
}
.gltx {font-family: Num1; font-size: 90px; display:flex;}
#up img{height: 30%;width: 30%;}
#up {position: fixed;bottom:70px;right: 10px;border-radius: 50%; opacity: 60%;}
#up:hover{opacity: 100%;}
#down img{height: 30%;width: 30%; transform: rotate(180deg);}
#down {position: fixed;bottom:10px;right: 10px;border-radius: 50%; opacity: 60%;}
#down:hover{opacity: 100%;}
body main .tx {
	font-family: Ohy;
	font-size: 30px;
}
body main .topic {
	font-family: Leeds;
	font-size: 50px;
}
body main .page1{
	padding: 60px 80px;
}
body main .otherpag {
	padding: 60px 80px 60px 80px;
}
.avas {
	height: 350px;
	border: 3px solid black;
	border-radius: 150%;	
	transition: 0.5s;
}
.avas:hover {transform: scale(1.5)}
body main div .activ {
	height: 200px;
	transition: 0.7s;
	border: 3px solid black;
	border-radius: 5%;
}
.imgs {
	height: 450px;
	border: 3px solid black;
}
.activ1:hover{transform: translate(230px,0) scale(2.5);}
.activ2:hover{transform: translate(-230px,0) scale(2.5);}
.activ3:hover{transform: translate(0, -230px) scale(2.5);}
body footer {background-color:#fc9;	min-height: 10em;}
body footer p {font-family: Leeds;font-size: 90px; padding: 20px 0 0 70px; color: black; }
